.card {
  border-radius: 5px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  user-select: none;
}

.additional_data_extra {
  display: none;
}

.additional_data:hover + .additional_data_extra {
  display: block;
}
