.script-node {
    position: absolute;
    background: white;
    color: black;
    border: 2px solid black;
}

.script-node.selectable {
    background: green;
}

.script-node.non-selectable {
    background: red;
}

.script-node.select-start {
    background: yellow;
}

.script-node-port {
    background: yellow;
}

.script-node-input-ports {
    display: flex;
    justify-content: space-around;
    top: -23px;
    position: absolute;
    width: 100%;
}

.script-node-input-port {
    background: yellow;
    border-radius: 8px;
    padding: 3px;
    height: 26px;
    width: 47px;
    border: 1px solid black;
}
