.script-editor {
    position: relative;
    display: flex;
    height: calc(100vh - 50px);
}

.node-container {
    flex-grow: 1;
    padding: 10px;
}

.node-container > div {
    height: 100%;
}
