@import '../node_modules/dragula/dist/dragula.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2c2d;
  color: white;
}



:root {
  --command-height: 50px;
  --command-border-size: 10px;
  --command-padding-top: 10px;
  --command-border-top: var(--command-border-size);
  --command-border-bottom: calc(var(--command-height) - var(--command-border-size) + var(--command-padding-top));
  
  --command-notch-start: 25px;
  --command-notch-width: 50px;
  --command-notch-end: calc(var(--command-notch-start) + var(--command-notch-width));
}

.command {
  /* background-color: blue; */
  color: black;
  height: var(--command-height);
  padding: 0px !important;
  padding-top: 10px !important;
  margin: -15px 0 6px 0;
  clip-path: polygon(
      0% 0%,
      var(--command-notch-start) 0%,
      calc(var(--command-notch-start) + var(--command-border-size)) var(--command-border-top),
      calc(var(--command-notch-end) - var(--command-border-size)) var(--command-border-top),
      var(--command-notch-end) 0%,
      100% 0%,
      100% var(--command-border-bottom),
      var(--command-notch-end) var(--command-border-bottom),
      calc(var(--command-notch-end) - var(--command-border-size)) 100%,
      calc(var(--command-notch-start) + var(--command-border-size)) 100%,
      var(--command-notch-start) var(--command-border-bottom),
      0% var(--command-border-bottom)
  );
}

.command-input {
  border-radius: 20px;
  height: 25px;
}

.command-input .command {
  border-radius: 10px;
  height: 25px;
  -webkit-clip-path: none;
  clip-path: none;
  position: relative;
  display: flex;
  background-color: green;
  margin-top: 0px;
  top: -22px;
  padding: 1px 0px !important;
}

.draggable-container div,
.gu-mirror {
  background-color: rgba(46, 84, 250, 0.692);
  transition: opacity 0.4s ease-in-out;
}
.gu-mirror {
  padding: 0px !important;
}

.draggable-container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  /* margin-bottom: 10px; */
}
/* .draggable-container div:last-child {
  margin-bottom: 0;
} */
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.draggable-container .ex-moved {
  background-color: #e74c3c;
}
.draggable-container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}